{% extends "base.html" %}

{% block content %}
<h1>Добро пожаловать!</h1>
<p>Этот веб-сайт посвящен содействию развитию сообществ, а также расширению прав и возможностей отдельных лиц оказывать положительное влияние на свои группы.</p>
<p>Здесь вы можете ознакомиться с различными общественными проектами, поделиться своими идеями и пообщаться с единомышленниками, которые увлечены развитием сообщества.</p>
<p>Начните с просмотра доступных проектов и не стесняйтесь вносить свой вклад или реализовывать свои собственные цели.</p>
{% endblock %}
