{% extends "base.html" %}

{% block content %}
<h1>Детали проекта</h1>
<h5>{{ project[0] }}</h5>
<p><strong>Концепция:</strong> {{ project[1] }}</p>
<p><strong>Целевая аудитория:</strong> {{ project[2] }}</p>
<p><strong>Польза:</strong> {{ project[3] }}</p>

<h2>Комментарий</h2>
{% if comments %}
<ul class="list-group">
    {% for comment in comments %}
    <li class="list-group-item">
        <strong>{{ comment[0] }}</strong><br>
        {{ comment[1] }}
    </li>
    {% endfor %}
</ul>

{% else %}
<p>Комментариев пока нет.</p>
{% endif %}

<h2>Добавить комментарий</h2>
<form method="POST" action="/project/{{ project_id }}/add_comment">
    <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="comment">Комментарий:</label>
        <textarea class="form-control" rows="3" id="comment" name="comment" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить комментарий</button>
</form>
{% endblock %}
